#page-top {
    display: flex;
    position: absolute;
}

thead {
    justify-content: space-between;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1e1e2f;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
}

.lbx{
    text-decoration: none;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-size: 1rem;
    transition: color 0.3s;
}

nav a:hover {
    color: #00c0ff;
}






body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-top: 5em;
    margin-bottom: -12em;
}

h2 {
    text-align: center;
    color: #1e1e2f;
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
}

textarea {
    resize: vertical;
}

button {
    background-color: #1e1e2f;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #33334d;
}

.volte {
    color:#1e1e2f;
    margin-top: 2em;
}
.success-message {
    display: none;
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    margin-top: 20px;
    border-left: 5px solid #28a745;
    border-radius: 5px;
}

footer {
    background-color: #1e1e2f; 
    color: white;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: -15em;
    width: 100%;
    font-size: 0.9rem;
  }